
#moved {
	position: absolute;
	top:50%;
  left: 50%;
  margin: auto;
  text-align: center;
}

/* General */

body {
  /* Make footer sticky*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  /* Make footer sticky*/
}

p, a, footer, h1, h4, h6, li, button {
  font-family: 'Abel', sans-serif;
  color: black;
}

#projects-view {
  display: none;
}

#path-view {
  display: none;
  font-size: 1.2em;
}

/* Page title */

.page-title {
  margin-top: 5em;
  margin-bottom: 5em;
  margin-right: 0;
  margin-left: 0;
}

.projects-title {
  text-align: left;
}

.path-title {
  text-align: right;
}

.page-btn {
  display: inline-block;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background: none;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  font-weight: bold;
}

.page-btn:focus {
  outline: 0;
}

/* Project cards */

.card-deck {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.card-text, p {
  font-size: 1.05em;
}

.project-links {
  display: flex;
  justify-content: space-around;
}

.card-footer {
  background-image: url('img/pattern/bright_squares.png');
  font-weight: bold;
}

.ongoing {
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  color: #d9544b;
}

.empty-card {
  opacity: 0.5;
}

.modal-body {
  text-align: center;
}

/* Learning path elements */

.plan {
  padding: 5px;
  background-image: url(img/pattern/old_mathematics.png);
  margin-left: -18px;
}

#custom-list {
  font-family: 'Abel', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

#reverse-btn {
  background: none;
  border: none;
}

/* Timeline pointers */

.timeline-pointer {
  position: absolute;
  left: -180px;
}

#beginning {
  bottom: 0;
  left: -200px;
}

/* Select box */

.custom-select {
  margin-bottom: 5px;
  width: initial;
  padding-left: 0.2rem;
  font-family: 'Abel', sans-serif;
  font-size: 1em;
  border: 0.2px dotted;
  border-color: rgb(109, 52, 52);
  outline: none !important;
  box-shadow: none !important;
}

.highlighted {
  /* text-decoration: underline; */
  text-shadow: -3px 0px 3px #ffe749, 3px 0px 3px #ffe749, 6px 0px 6px #ffe749, -6px 0px 6px #ffe749;
}

.path-list {
  margin-right: 2em;
}

/* Resources links */

li>a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #a79f9f;
}

/* Page footer */

footer {
  margin-top: 2em;
  /* height: 70px; */
  line-height: 50px;
  font-size: 1.2em;
  background-image: url('img/pattern/tiny-squares.png');
  text-align: center;
  padding: 10px;
  color: black;
}

/* Scroll to top button */

#scroll-to-top {
  display: none;
  /* Hidden by default */
  position: sticky;
  position: -webkit-sticky;
  bottom: 20px;
  /* Place the button at the bottom of the page */
  left: 100%;
  /* Place the button on the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  outline: none;
  background-color: #C7C2C2;
  color: white;
  padding: 15px;
  border-radius: 7px;
  font-size: 18px;
}

#scroll-to-top:hover {
  background-color: #9A9595;
}
